@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("https://p.typekit.net/p.css?s=1&k=fcw0yre&ht=tk&f=24537.24538.24539.24540.24541.24542.24543.24544.24545.24546.24547.24548.24549.24550.24551.24552.25163&a=71797650&app=typekit&e=css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-color {
    background-color: #ffff;
    display: flex;


}

.navabar-d-flex {

    display: flex;
    justify-content: space-between;
}

.nav-item {
    margin-right: 5%;
}

.nav-item a {
    color: black;


}

.img-logo {
    height: auto;
    width: 200px;
}

.items-navbar {
    padding-right: 9%;

}

.hero-sec-1 {
    padding-top: 20%;
    height: 90vh;

}

.hero {

    margin-top: 5%;
}

.hero-sec-1 h1 {
    font-size: 50px;
    font-family: "fatfrank";
    font-weight: 100;

}

.sec-global{
    font-size: 1rem;
}

.title-sec {
    font-size: 2.6em;
    font-family: "fatfrank";
    font-weight: 100;

}

.text-subt{
    font-size: 2em;
    font-family: "fatfrank";
    font-weight: 100;
}

.container .row .box-se{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15%;
    padding-left: 5%;
}

.hero-sec-1 p {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: sofia-pro;
    font-size: 16px;
    font-weight: 400;
    color: #7A869A;
    display: block;
}

.btn-reg {


    font-size: 15px;
    color: white;
    margin-top: 17px;
    font-weight: 600;

    margin-left: 2px;
  
}

.container-box{
    display: flex;
    justify-content: space-around;

}



.box picture img {
    width: 100%;
}


@media screen and (max-width:991px) {

    .navabar-d-flex{
        display: block;
    }
    
    .hero-sec-1 {
        padding-top: 20%;
        height: 50vh;
    
    }
}

